<%- include('partials/header.ejs')  %>
    <title>Reviews</title>
</head>
<body>
    <%- include('partials/nav.ejs')  %>
    <div class="parallax--effect-video">
        <video autoplay muted loop>
            <source src="../public/images/coffeeSpin.mp4" type="video/mp4">
        </video>
        <div class="video--content">
            <h1>Coffee Is Life. Go Have A Say On It.</h1>
            <button class="video__button">See Our Products</button>
        </div>
    </div>
    <div class="card">
        <section>
            <h2>Hottest Products</h2>
        </section>
        <section class="card--section">
            <div class="card--container">
                <div class="card__image card__img-first"></div>
                <div class="card__text">
                    <h3><%= product[0].name %></h3>
                </div>
            </div>
            <div class="card--container">
                <div class="card__image card__img-second"></div>
                <div class="card__text">
                    <h3><%= product[0].name %></h3>
                </div>
            </div>
            <div class="card--container">
                <div class="card__image card__img-third"></div>
                <div class="card__text">
                    <h3><%= product[0].name %></h3>
                </div>
            </div>
        </section>
    </div>
</body>
</html>