<%- include('partials/header.ejs')  %>
    <title>Reviews</title>
</head>
<body>
    <%- include('partials/nav.ejs')  %>
    <div class="parallax--effect-video">
        <video autoplay muted loop>
            <source src="../public/images/coffeeSpin.mp4" type="video/mp4">
        </video>
        <div class="video--content">
            <h1>Coffee Is Life. Go Have A Say On It.</h1>
            <button class="video__button">See Our Products</button>
        </div>
    </div>
    <div class="card">
        <section>
            <h2>Hottest Products</h2>
        </section>
        <section class="card--section">
            <div class="card--container">
                <div class="card__image card__img-first"></div>
                <div class="card__text">
                    <h3><%= product[0].name %></h3>
                </div>
            </div>
            <div class="card--container">
                <div class="card__image card__img-second"></div>
                <div class="card__text">
                    <h3><%= product[0].name %></h3>
                </div>
            </div>
            <div class="card--container">
                <div class="card__image card__img-third"></div>
                <div class="card__text">
                    <h3><%= product[0].name %></h3>
                </div>
            </div>
        </section>
    </div>
    <div class="advertise">
        <h2>Our Mission</h2>
        <h3>We are dedicated to experiencing the finest coffee flavors this world has to offer. </h3>
        <h3>We also believe that the best people to evaluate the quality of a coffee bean comes from afficcianados like yourself.</h3>
        <h3>As such, the ultimate voice should come from you, the consumers.</h3>
        <h4>
            That is exactly what you can do here! Head on over to our product page, and select the coffee you want to leave a review for!
        </h4>
        <div class="desc--wrapper">
            <div class="wrapper__word">Roasted</div>
            <div class="bullet"></div>
            <div class="wrapper__word">Floral</div>
            <div class="bullet"></div>
            <div class="wrapper__word">Nutty</div>
            <div class="bullet"></div>
            <div class="wrapper__word">Piquant</div>
        </div>
        <div class="desc--wrapper">
            <div class="wrapper__word">Herby</div>
            <div class="bullet"></div>
            <div class="wrapper__word">Chocolatey</div>
            <div class="bullet"></div>
            <div class="wrapper__word">Bitter</div>
        </div>
    </div>
    <div class="btm--img">
        <div class="btm__img__container">
            <button class="video__button">See Products</button>
        </div>
    </div>
    <nav class="nav nav--footer">
        <div>
            <ul class="list footer">
                <li class="nav__item nav__list-item"><a href="/">Home</a></li>
                <li class="nav__item nav__list-item"><a href="/products">Products</a></li>
                <li class="nav__item nav__list-item"><a href="/reviews">Review</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>