<%- include('../partials/header.ejs')  %>
<title>Products</title>
</head>

<body>
    <%- include('../partials/nav.ejs')  %>
    <div class="banner-container">
        <h1>Welcome to the Products Page</h1>
    </div>
    <div class="content-area">
        <h2>Products</h2>
        <div class="grid">
        <% for (let i = 0; i < product.length; i++) { %>
            <div *ngFor="let row of data">
                <img src=<%= product[i].image %> alt="">
                <h4 class="item--name">Name: <span class="product--name"><%= product[i].name %></span></h4>
                <p class="item--description">Description: <span
                        class="product--description"><%= product[i].description %></span></p>
                <h5 class="item--rating">Rating: <span class="product--rating">TBD</span></h5>
                <button class="item--review--button"><a href="/products/<%= product[i].name %>">Review</a></button>
            </div>
        <% } %>
    </div>
    <div>
        <%- include('../partials/footer.ejs')  %>
    </div>
</body>

</html>