<%- include('../partials/header.ejs')  %>
    <title>Update Page</title>
</head>
<body>
    <%- include('../partials/nav.ejs')  %>
    <h2>Update:</h2>


    <h3>Previous rating comment: <%= reviewFound.text %></h3>
    <h4>Previous rating ranking: <%= reviewFound.rating %></h4>
    <form action="/reviews/<%= reviewFound.product %>/<%= reviewFound._id %>?_method=PUT" method="POST">
        <div>
            <label for="rating">Rating</label>
            <select name="rating" id="rating">
                <% for (let i = 1; i <= 5; i++){ %>
                    <option value="<%= i %>"><%= i %></option>
                <% }%>
            </select>
        </div>
        <div>
            <textarea name="reviewInput" id="reviewInput" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>

</body>
</html>